# API Keys
OPENAI_API_KEY=sk-proj-tu-clave-aqui

# Observabilidad (Arize Phoenix)
# Local: http://localhost:6006/v1/traces
# Docker Stack: http://phoenix:6006/v1/traces
PHOENIX_COLLECTOR_ENDPOINT=http://phoenix:6006/v1/traces

# Base de Datos Relacional (PostgreSQL)
# Formato: postgresql://usuario:password@host:puerto/nombre_db
DATABASE_URL=postgresql://agentx:supersecret@postgres:5432/chat_history

# Base de Datos Vectorial (Qdrant)
# Local: http://localhost:6333
# Docker Stack: http://qdrant-db:6333
QDRANT_URL=http://qdrant-db:6333