langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-openai==0.1.23
qdrant-client
langchain-qdrant
arize-phoenix
openinference-instrumentation-langchain
streamlit>=1.56.0
psycopg2-binary
SQLAlchemy
pandas
requests
fastapi
uvicorn